.nav_container {
    padding-inline: 10px;
}

.navbar {
    background-color: blueviolet;
    padding: 20px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.routes {
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
}
