.container {
    background-color: #171717;
    width: 40%;
    padding: 40px;
    border: 4px solid #171717;
    border-radius: 7px;
}
.login-signup-container{
    display:flex;
    justify-content: center;
}

.login-signup-button {
    background-color: #f5bf42;
    color: white;
    border: 5px solid #f5bf42;
    border-radius: 4px;
    font-size: 20px;
    margin-top: 20px;
}

.submit-container{
    justify-content: center;
}

.submit-button{
    color: white;
    background-color: #34077d;
    border: 5px solid #34077d;
    border-radius: 4px;
    font-size: 20px;
}

.auth-title-container{
    font-size: 60px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;
}

.input-div {
    border: 20px white;
    border-radius: 10;
}

.input {
    background-color: #7c2dfa;
    font-size: 20px;
    border: 7px solid #34077d;
    border-radius: 4px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    color: white;
}

.input::placeholder {
    color: 
#2a2730;
}

.forgot-password {
    font-size: 20px;
    font-weight: bold;
    color: #f5bf42;
}

.error-message {
    font-size: 20px;
    font-weight: bold;
    color: #ff0000;
}